<h2 class="ml-4">
  <img src="../../../assets/images/plus.png" class="logo-img" />
  <span class="ms-2">Create Project</span>
</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div id="form-container">
      <div class="container">
        <div class="title mb-5">Enter Information</div>
        <div class="task-card">
          <div class="card-body">
            <form [formGroup]="this.createForm">
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label"
                    >Project Name<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="ProjectName"
                    required
                  />
                  <div class="invalid-feedback">Project Name is required</div>
                </div>
                <div class="mb-3 col-6">
                  <label class="form-label"
                    >Project Manager<span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Project"
                    required
                    formControlName="ProjectManager"
                  >
                    <option
                      *ngFor="let project of pjmanagerlist"
                      [value]="project.value"
                    >
                      {{ project.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Project is required</div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label"
                    >Category<span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    aria-label="Priority"
                    required
                    formControlName="Category"
                  >
                    <option
                      *ngFor="let category of categorylist"
                      [value]="category.value"
                      formControlName="Category"
                    >
                      {{ category.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Category is required</div>
                </div>
                <div class="mb-3 col-6">
                  <label class="form-label"
                    >Status<span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    formControlName="Status"
                    aria-label="Status"
                    required
                  >
                    <option
                      *ngFor="let status of statusList"
                      [value]="status.value"
                      formControlName="Status"
                    >
                      {{ status.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Status is required</div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-6 d-flex flex-column">
                  <label class="form-label">Remark</label>
                  <textarea
                    class="form-control h-100"
                    required
                    formControlName="Remark"
                  ></textarea>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label"
                      >Start Date<span class="text-danger">*</span></label
                    >
                    <input
                      type="date"
                      class="form-control"
                      required
                      formControlName="StartDate"
                    />
                    <div class="invalid-feedback">Start Date is required</div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >End Date<span class="text-danger">*</span></label
                    >
                    <input
                      type="date"
                      class="form-control"
                      required
                      formControlName="EndDate"
                    />
                    <div class="invalid-feedback">End Date is required</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <dx-button
          text="Create Project"
          class="btn btn-primary"
          (onClick)="onCreateTask()"
        ></dx-button>
        <dx-button
          text="Clear"
          class="btn btn-secondary ms-3"
          (onClick)="clearData()"
        ></dx-button>
      </div>
    </div>
  </div>
</div>
