.dx-card {
  border-top: 4px solid #363640; /* Change to desired color */
}

.btn-primary {
  background: rgb(3, 74, 125);
  color: white;
}

.btn-secondary {
  background: white;
  color: rgb(3, 74, 125);
}

.form-label {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial,
    sans-serif;
}
