.dx-card {
    border-top: 4px solid #363640; /* Change to desired color */
    
}

.title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
   .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(3, 74, 125);
  }
  .title:before {
    width: 20px;
  }

  .btn-primary{
    background: rgb(3, 74, 125);
    color: white;
  }

  .btn-secondary{
    background: white;
    color: rgb(3, 74, 125);
  }

  .form-label{
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
  }