.box {
  background: rgb(228, 228, 228);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(13, 13, 13, 0.1);
  margin: 10px;
}
.title {
  font-weight: bold;
  //color: #333;
  margin-bottom: 10px;
}
.status {
  font-size: 24px;
  font-weight: bold;
}
.complete {
  background-color: green;
  color: white;
}
.progress1 {
  background-color: #ff5722;
  color: white;
}
