<h2 class="content-block">Dashboard</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="row">
      <div class="box col">
        <div class="title">Project</div>
        <div class="status">{{ this.res.count.projectCount }}</div>
      </div>
      <div class="box col">
        <div class="title">Task</div>
        <div class="status">{{ this.res.count.taskCount }}</div>
      </div>
    </div>
    <h2 style="color: blue">TASK STATUS</h2>
    <div class="row">
      <div class="box col complete">
        <div class="title">Complete</div>
        <div class="status">{{ this.res.count.completeCount }}</div>
      </div>
      <div class="box col progress1">
        <div class="title">Progress</div>
        <div class="status">{{ this.res.count.progressCount }}</div>
      </div>
      <div class="box col">
        <div class="title">Not Start</div>
        <div class="status">{{ this.res.count.notstartCount }}</div>
      </div>
    </div>
  </div>
</div>
