<h2 class="ml-4">
  <img src="../../../assets/images/list.png" class="logo-img" />
  <span class="ms-2">Task List</span>
</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="row mb-2 align-items-end">
      <div class="col-5"></div>
      <div class="col-2">
        <label class="form-label">Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="startDate" />
      </div>
      <div class="col-2">
        <label class="form-label">End Date</label>
        <input type="date" class="form-control" [(ngModel)]="endDate" />
      </div>
      <div class="col-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="btnGroupAddon"
            placeholder="Search by keywords....."
          />
          <div
            class="input-group-text"
            id="btnGroupAddon"
            style="background-color: #2f539b; color: white"
          >
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>

    <dx-data-grid
      class="mt-3"
      [dataSource]="dataSource"
      [showBorders]="false"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      keyExpr="id"
      [editing]="{
        mode: 'row',
        allowUpdating: true,
        allowDeleting: true
      }"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
      <dxi-column
        dataField="projectName"
        [width]="190"
        caption="Project Name"
        [hidingPriority]="8"
      >
      </dxi-column>
      <dxi-column dataField="category" caption="Category" [hidingPriority]="5">
      </dxi-column>
      <dxi-column
        dataField="projectManager"
        caption="Project Manager"
        [hidingPriority]="5"
      >
      </dxi-column>
      <dxi-column
        dataField="startDate"
        caption="Start Date"
        dataType="date"
        [hidingPriority]="3"
      >
      </dxi-column>
      <dxi-column
        dataField="endDate"
        caption="End Date"
        dataType="date"
        [hidingPriority]="4"
      >
      </dxi-column>

      <dxi-column dataField="remark" caption="Remark"> </dxi-column>

      <dxi-column
        dataField="status"
        cellTemplate="statusTemplate"
        caption="Status"
        [allowSearch]="true"
        [hidingPriority]="6"
      >
        <dxo-lookup
          [dataSource]="statusList"
          valueExpr="value"
          displayExpr="name"
        >
        </dxo-lookup>
      </dxi-column>

      <div *dxTemplate="let data of 'statusTemplate'">
        <dx-progress-bar
          #progressBar
          id="progress-bar-status"
          width="100%"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }"
          [class.complete]="progressBar.value == 100"
          [min]="0"
          [max]="100"
          [statusFormat]="format"
          [value]="getStatusValue(data.data.status)"
        >
        </dx-progress-bar>
        <!-- <label
          ><img
            [src]="getStatusClass(data.data.status)"
            class="icon-img"
          />&nbsp;{{ data.data.status }}</label
        > -->
        <!-- <dx-button
          class="btn btn-sm btn-primary"
          [ngClass]="getStatusClass(data.data.status)"
        >
          {{ data.data.status }}
        </dx-button> -->
      </div>
    </dx-data-grid>
  </div>
</div>
